//Project colors
$lightGrayBlue: #c2c3d3;
$mediumGray: rgb(128, 128, 128, 0.5);
$darkGray: #6b6b6b;
$white: #ffffff;
$onyx: #181818cd;
$lightBlue: rgb(63, 100, 234, 0.43);
$glass: rgba(255, 255, 255, 0.65);
$glassDarkMode: rgba(255, 255, 255, 0.45);
$transparent: rgba(255, 255, 255, 0);
$formsBackground: rgba(248, 248, 248, 0.6);
$formsBackgroundDark: #0b1a3296;

//standard
$regularRadius: 10px;

//fonts
$montserrat: "Montserrat", sans-serif;
$inter: "Inter", sans-serif;
$outfit: "Outfit", sans-serif;
$robotoCondensed: "Roboto Condensed", sans-serif;
$ubuntu: "Ubuntu", sans-serif;
$titilliumWeb: "Titillium Web", sans-serif;

body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100vh;
}

.mainContainer {
    min-height: 35em;
    margin: 0px !important;
    padding: 0px !important;
}
i.navigationIcon {
    font-size: 20px;
}

//helper classes
.lightTheme {
    color: $darkGray;
    font-family: "Inter", sans-serif;
    $menuBackground: $white;

    background-size: 100% 100%;
    background-position: 0px 0px;
    // background-image: radial-gradient(75% 75% at 50% 50%, #faf0e5ff 0%, #d7d7dfff 100%);
    background-image: radial-gradient(75% 75% at 50% 50%, #faf3d5ff 0%, #ecececff 100%);
    a {
        color: $darkGray;
        font-weight: 700;
    }
    .subTitle {
        color: $mediumGray;
    }

    .cardBackground {
        color: $darkGray;
        background-color: $formsBackground;
        box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.1);
    }
    .revealTextTop {
        background-color: $mediumGray;
    }
    .pill {
        background-color: $transparent;
    }
    .pill:hover {
        background-color: $glass;
        border-bottom: 1px solid $mediumGray;
        border-left: 1px solid $mediumGray;
    }
    .vl {
        border-left: 1px solid #c5c2c4;
        height: 100%;
        margin-left: 10px;
    }
}

.darkTheme {
    color: $white;
    font-family: "Inter", sans-serif;
    $menuBackground: $onyx;

    background-size: 100% 100%;
    background-position: 0px 0px;
    // background-image: radial-gradient(75% 75% at 50% 50%, #565B60FF 0%, #181923 100%);
    // background-image: radial-gradient(90% 90% at 50% 50%, #61768AFF 0%, #29323d 65%);
    background-image: radial-gradient(90% 90% at 50% 50%, #61768aff 0%, #0f223cff 65%);
    a {
        color: $white;
        font-weight: 700;
    }

    nav ul li a {
        color: $white !important;
    }
    .subTitle {
        color: $lightGrayBlue;
    }
    .cardBackground {
        color: $white;
        background-color: $formsBackgroundDark;
        box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.1);
    }
    .revealTextTop {
        background-color: $transparent;
    }
    .pill {
        background-color: $transparent;
    }
    .pill:hover {
        background-color: $glassDarkMode;
        border-bottom: 1px solid $mediumGray;
        border-left: 1px solid $mediumGray;
    }
    .vl {
        border-left: 1px solid #2c2e36;
        height: 100%;
        margin-left: 10px;
    }
}
