//Project colors

$mediumGray: rgb(128, 128, 128, 0.5);
$darkGray: #6b6b6b;
$white: #ffffff;
$onyx: #181818;
$lightBlue: rgb(63, 100, 234, 0.43);
$glass: rgba(255, 255, 255, 0.65);
$transparent: rgba(255, 255, 255, 0);


//standard
$regularRadius: 10px;

//fonts
$montserrat: 'Montserrat', sans-serif;
$inter: 'Inter', sans-serif;
$outfit: 'Outfit', sans-serif;
$robotoCondensed: 'Roboto Condensed', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;
$titilliumWeb: 'Titillium Web', sans-serif;

//helper classes
.subTitle{
    color: $mediumGray;
}